  
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
  
# JPEG
  
  
# JPEG
  
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
# JPEG
  
# JPEG
  
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jpg
  
#f
*.jfif
*.jfi
JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

